@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

nav {
    background-image: linear-gradient(to bottom, transparent, white 90%),
    url("../img/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 50px 0;
}

.logo {
    width: 250px;
    margin: auto;
}

.logo img {
    width: 100%;
}

.search {
    width: 400px;
    opacity: 40%;
    margin: 50px 0 20px;
}

.search-box {
    padding-left: 20px !important;
    border-radius: 50px !important;
}

.userinfo {
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 50%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}