body {
    background-color: #f5f5f5;
}

.border_solid {
    border: 1px solid red;
}

.genre_hr {
    margin: 30px auto 30px auto;
    width: 730px;
    border: 2px solid #aff4c6;
}

.title_hr {
    margin-top: 2px;
    height: 2px;
    border: 0;
    background:
    linear-gradient(to left, rgba(176,255,255,.8), rgba(176,255,255,0) 70.71%),
    linear-gradient(to right, rgba(255, 206, 229, .8), rgba(255, 206, 229, 0) 70.71%);
    opacity: initial;
}

.title_font {
    font-size: 20px;
    font-weight: bold;
}

.display_flex {
    display: flex;
}

.main_box {
    max-width: 800px;
    margin: 50px auto 50px auto;
    background-color: white;
}

.count_box {
    margin: 10px 0px 10px 30px;
    font-weight: bold;
}

.title_text {
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    height: 30px;
}

.genre_cover_image {
    width: 100px;
    margin-right: 20px;
}

.genre_cover_image > img {
    width: 100px;
}

.content_box {
    width: 750px;
    height: 150px;
}

.star-ratings {
    color: #aaa9a9;
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
}

.star-ratings-base {
    z-index: 0;
    padding: 0;
}

.genre-paginator {
    text-align: center;
}

.genre-paginator > a {
    margin-right: 10px;
}