.main_hr {
    margin: 5px auto 10px auto;
    width: 1200px;
    border: 2px solid #aff4c6;
}

body {
}

.hr_text {
    margin: 10px auto 0px auto;
    width: 1200px;
    font-weight: bold;
    font-size: 20px;
    /*background-color: #f3fdf5;*/
}

.title_eclipse {
    width: 172px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.border_solid {
    border: 1px solid red;
}

.main_box {
    width: 800px;
    margin: 50px auto 50px auto;
    background-color: white;
}

.main_cover_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 170px;
    height: 260px;
    margin-bottom: 15px;
}

.title_font {
    font-weight: bold;
    font-size: 17px;
}

.profile_box {
    width: 170px;
    /*height: 330px;*/
    margin: 20px 20px 20px 20px;
}

.writer {
    font-size: 13px;
    text-align: center;
    color: #aaa9a9;
}

.genre {
    font-size: 13px;
    text-align: center;
    color: #aaa9a9;
    margin-top: 5px;
}

.profile_group {
    display: flex;
    margin: auto;
}

.best_profile_box {
    width: 250px;
    height: 400px;
    margin: 20px 20px 20px 20px;
}

.best_cover_image {
    background-image: url('https://comicthumb-phinf.pstatic.net/20220513_93/pocket_1652410170254EHj8d_JPEG/%28%C8%AD%C1%FA%C1%B6%C1%A4%29%C7%A5%C1%F6_%B9%CC%C4%A3%C0%E7%B4%C9%C0%C7%B8%D5%C4%A1%C5%B2-%C4%AE%C0%E2%C0%CC%28%C5%E4%B4%CF%C5%E4%29_220513.jpg?type=m260');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 260px;
    margin-bottom: 15px;
}

.best_profile_group {
    width: 1200px;
    display: flex;
    margin: auto;
    flex-flow: wrap;
}

.star-ratings {
    color: #aaa9a9;
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
}

.star-ratings-base {
    z-index: 0;
    padding: 0;
}