.main_hr {
    margin: 5px auto 10px auto;
    width: 1200px;
    height: 2px;
    border: 0;
    background:
    linear-gradient(to left, rgba(176,255,255,.8), rgba(176,255,255,0) 70.71%),
    linear-gradient(to right, rgba(255, 206, 229, .8), rgba(255, 206, 229, 0) 70.71%);
    opacity: initial;
}

body {
}

.hr_text {
    margin: 10px auto 0px auto;
    width: 1200px;
    font-weight: bold;
    font-size: 20px;
    /*background-color: #f3fdf5;*/
}



.border_solid {
    border: 1px solid red;
}

.main_box {
    width: 800px;
    margin: 50px auto 50px auto;
    background-color: white;
}

.title_font {
    font-weight: bold;
    font-size: 17px;
}

.title_eclipse {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.writer {
    font-size: 13px;
    text-align: center;
    color: #aaa9a9;
}

.genre {
    font-size: 13px;
    text-align: center;
    color: #aaa9a9;
    margin-top: 5px;
}

.profile_group {
    width: 1200px;
    display: flex;
    margin: auto;

}

.profile_box {
    width: 185px;
    margin: 20px 27px 20px 27px;
}

.best_profile_box {
    width: 185px;
    height: 400px;
    margin: 20px 20px 20px 20px;
}

.cover_image {
    width: 185px;
    height: 280px;
    margin-bottom: 15px;
}

.best_profile_group {
    width: 1200px;
    display: flex;
    margin: auto;
    flex-flow: wrap;
}

.star-ratings {
    color: #aaa9a9;
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
}

.star-ratings-base {
    z-index: 0;
    padding: 0;
}

.main_like_text{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}