body {
    background-color: white;
}

section {
    width: 1000px;
    margin: auto;
    padding: 20px 20px 10px 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.profile-hr {
    width: 100%;
    margin: 10px 0 20px 0;
    border: 2px solid #aff4c6;
}

p {
    margin: 8px 0;
    /*word-break: break-all;*/
}

.genre-tag {
    border-radius: 5px;
    /*border: 1px solid #aff4c6;*/
    background-color: #aff4c6;
    padding: 2px 4px;
}

.mypage-title {
    font-size: 20px;
}

.load {
    font-size: 10px;
    margin-left: 20px;
}

.profile {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    border-radius: 10px;
    border: 1px solid #aff4c6;
    background-color: #f3fdf6;
}

.logout {
    width: 200px;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.count {
    width: 150px;
    padding: 30px 0;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

.favorites {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.likes {
}

.book-box {
    display: flex;
    justify-content: space-around;
}

.book {
    margin: 0 5px;
}

.book-title {
    width: 172px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.book img {
    height: 260px;
}


.reviews {
}

.review {
    display: flex;
    /*background-color: lightblue;*/
}

.review-cover-img img {
    height: 260px;
}

.review-detail-mypage {
    padding-left: 20px;
}