body {
    background-color: white;
}

section {
    width: 1000px;
    margin: auto;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.profile-hr {
    width: 100%;
    margin: 10px 0 20px 0;
    border: 2px solid #aff4c6;
}


.genre-tag {
    border-radius: 5px;
    background-color: #aff4c6;
    padding: 2px 4px;
}

.mypage-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}

.load {
    font-size: 10px;
    font-weight: 300;
    margin-left: 20px;
}

.profile {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    border-radius: 10px;
    border: 1px solid #aff4c6;
    background-color: #f3fdf6;
}

.logout {
    width: 200px;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.count {
    width: 150px;
    padding: 30px 0;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

.favorites-mypage {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.likes {
}

.book-box {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

.book {
    margin: 0 6px;
}

.book-title-mypage {
    width: 172px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}

.book img {
    width: 182px;
    height: 260px;
    margin-bottom: 10px;
}

.book-author-mypage {
    margin-bottom: 10px;
}


.reviews-mypage {
}

.review-mypage {
    display: flex;
    margin: 15px 0;
}

.review-cover-img img {
    width: 182px;
    height: 260px;
}

.review-detail-mypage {
    padding-left: 20px;
}