body {
    background-image: linear-gradient(to bottom, transparent, white 90%),
    url("../img/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap {
    width: 500px;
    padding: 30px;
    margin: auto;
}

.logo {
    width: 80%;
    padding: 50px 0 20px 0;
    margin: auto;
}

.logo > img {
    padding-bottom: 20px;
}

.formbox {
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(176, 255, 255, .8);
    background-color: white;
}