{% extends 'base.html' %}

{% block title %}
    장르 페이지
{% endblock %}

{% block content %}
    <div class="main_box">
        <div class="title_text">{{ book_all.name }}</div>
        <hr class="title_hr">
        <div class="count_box">
            총 {{ book_all.books_list_num }}개의 작품
        </div>
        {% for page in book_all.pages %}
            <a href="{% url 'book_info' page.id %}">
                <div class="content_box display_flex" style="margin: auto auto 30px auto">
                    <div class="genre_cover_image"><img src="{{ page.cover }}"></div>
                    <div>
                        <div class="title_font" style="margin-bottom: 10px">
                            {{ page.title }}
                        </div>
                        <div class="display_flex">
                            <div class="star-ratings">
                                <div class="star-ratings-fill space-x-2" style="width: {{ page.star }}%">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base space-x-2 text-lg">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                            <div style="margin-bottom: 10px">&nbsp| {{ page.author }} | {{ page.publisher }}</div>
                        </div>
                        <div>
                            {#                       |truncatechars:200 글자수 제한 코드 #}
                            {{ page.story |truncatechars:120 }}
                        </div>
                    </div>
                </div>
            </a>
{#            <hr class="genre_hr">#}
        {% endfor %}

        <div style="text-align: center">
            {% if book_all.pages.has_previous %}
                <a href='?page={{ book_all.pages.number|add:-1 }}'>Previous</a>
            {% endif %}

            Page {{ book_all.pages.number }} of {{ book_all.pages.paginator.num_pages }}

            {% if book_all.pages.has_next %}
                <a href='?page={{ book_all.pages.number|add:+1 }}'>Next</a>
            {% endif %}
        </div>

    </div>
{% endblock %}




