{% extends 'base.html' %}

{% block title %}
    장르 페이지
{% endblock %}

{% block content %}
    <div class="main_box">
        <div class="title_text">{{ book_all.name }}</div>
        <hr class="title_hr">
        <div class="count_box">
            총 {{ book_all.books_list_num }}개의 작품
        </div>
        {% for page in book_all.pages %}
            <a href="{% url 'book_info' page.id %}">
                <div class="content_box display_flex" style="margin: auto auto 30px auto">
                    <div class="genre_cover_image"><img src="{{ page.cover }}"></div>
                    <div>
                        <div class="title_font" style="margin-bottom: 10px">
                            {{ page.title }}
                        </div>
                        <div class="display_flex">
                            <div class="star-ratings">
                                <div class="star-ratings-fill space-x-2" style="width: {{ page.star }}%">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base space-x-2 text-lg">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                            <div style="margin-bottom: 10px">&nbsp| {{ page.author }} | {{ page.publisher }}</div>
                        </div>
                        <div>
                            {{ page.story |truncatechars:120 }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

        <div class="genre-paginator">
            {% if book_all.pages.has_previous %}
                <a href='?page={{ book_all.pages.number|add:-1 }}'><i style="color: #68d6d7" class="bi bi-caret-left-fill"></i></a>
                {% if book_all.pages.number|add:-2 > 0 %}
                    <a href='?page={{ book_all.pages.number|add:-2 }}'>{{ book_all.pages.number|add:-2 }}</a>
                {% endif %}
                <a href='?page={{ book_all.pages.previous_page_number }}'>{{ book_all.pages.previous_page_number }}</a>
            {% endif %}

            <a><strong style="color: #f28cf2">{{ book_all.pages.number }}</strong></a>

            {% if book_all.pages.has_next %}
                <a href='?page={{ book_all.pages.next_page_number }}'>{{ book_all.pages.next_page_number }}</a>
                {% if book_all.pages.number|add:2 <= book_all.pages.paginator.num_pages %}
                    <a href='?page={{ book_all.pages.number|add:2 }}'>{{ book_all.pages.number|add:2 }}</a>
                {% endif %}
                <a href='?page={{ book_all.pages.number|add:+1 }}'><i style="color: #68d6d7" class="bi bi-caret-right-fill"></i></a>
            {% endif %}
        </div>

    </div>
{% endblock %}




