{% extends 'base.html' %}

{% block title %}
    메인 페이지
{% endblock %}

{% block content %}
    <div style="margin-top: 30px">
        <div class="hr_text">최근 선호작</div>
        <hr class="main_hr">
        <div class="profile_group">
            <div class="profile_group">
                {% for like in likes %}
                    <div class="profile_box">
                        <a href="{% url 'book_info' like.id %}">
                            <img class="cover_image" src="{{ like.cover }}">
                            <div>
                                <div class="title_font title_eclipse" style="text-align: center">
                                    {{ like.title }}
                                </div>
                                <div class="writer" style="text-align: center">
                                    {{ like.author }}
                                </div>
                                <div class="star-ratings" style="margin: auto">
                                    <div class="star-ratings-fill space-x-2" style="width: {{ like.star }}%">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                    <div class="star-ratings-base space-x-2 text-lg">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                </div>
                                <div class="genre">
                                    <a href="{% url 'genre' like.genre %}">
                                        <span class="genre-tag">{{ like.genre }}</span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div style="margin-top: 30px">

        {#    추천작(5개) ////////////////#}
        <div class="hr_text">추천작</div>
        <hr class="main_hr">
        <div class="profile_group">
            <div class="profile_group">
                {% for data in datas %}
                    <a href="{% url 'book_info' data.id %}">
                        <div class="profile_box">
                            <img class="cover_image" src="{{ data.cover }}">
                            <div>
                                <div class="title_font title_eclipse" style="text-align: center">
                                    {{ data.title }}
                                </div>
                                <div class="writer">
                                    {{ data.author }}
                                </div>
                                <div class="star-ratings" style="margin: auto">
                                    <div class="star-ratings-fill space-x-2" style="width: {{ data.star }}%">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                    <div class="star-ratings-base space-x-2 text-lg">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                </div>
                                <div class="genre">
                                    <a href="{% url 'genre' data.genre %}">
                                        <span class="genre-tag">{{ data.genre }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Today best top 20 ///////////#}
    <div style="margin-top: 30px">
        <div class="hr_text">Today best top 20</div>
        <hr class="main_hr">
        <div class="profile_group">
            <div class="best_profile_group">
                {% for book in li_list %}
                    <div class="best_profile_box">
                        <a href= {{ book.url }}>
                            <img class="cover_image" src="{{ book.cover }}">
                            <div>
                                <div class="title_font title_eclipse" style="text-align: center">{{ book.title }}</div>
                                <div class="genre">{{ book.genre }}</div>
                                <div class="writer">{{ book.author }} | {{ book.detail }}</div>
                                <div class="star-wrap mb10" style="justify-content: center">
                                    <div class="star-ratings">
                                        <div class="star-ratings-fill space-x" style="width: {{ book.star_width }}%">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <div class="star-ratings-base space-x">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                    </div>
                                    <b>{{ book.star }}</b>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}