{% extends 'base.html' %}

{% block title %}
    나의 리뷰
{% endblock %}

{% block content %}

    <section>
        <div class="reviews-mypage">
            <div class="mypage-title">리뷰<span class="load"><a href="#">전체보기</a></span></div>
            <hr class="profile-hr">
            {% for review in reviews %}
                <div class="review-mypage">
                    <div class="review-cover-img">
                        <a href="{% url 'book_info' review.book.id %}">
                            <img src="{{ review.book.cover }}"
                                 alt="{{ review.book.title }} 표지">
                        </a>
                    </div>
                    <div class="review-detail-mypage">
                        <h4><a href="{% url 'book_info' review.book.id %}">{{ review.book.title }}</a></h4>
                        <p><a href="{% url 'genre' review.book.genre %}"><span class="genre-tag">{{ review.book.genre }}</span></a> | <b>글</b> {{ review.book.author }} | <b>출판사</b> {{ review.book.publisher }}</p>
                        <p><span class="star">{{ review.star }}</span></p>
                        <p><span class="review_date">작성일: {{ review.date }}</span></p>
                        <p><span class="comment">{{ review.desc }}</span></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}